<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alet.apps">
    <!-- android 11 map dependency -->
    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ALET">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".c_activity.ac_details.view.DetailsCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Details"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".c_activity.ac_dashboard.view.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dashboard"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".c_activity.ac_auth.view.AuthCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AuthCommon"
            tools:ignore="LockedOrientationActivity" >

        </activity>
        <activity
            android:name=".c_activity.ac_welcome.view.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Welcome"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".c_activity.base_ac.view.BaseActivity" />
        <activity
            android:name=".c_activity.ac_splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme"
            tools:ignore="LockedOrientationActivity">

        </activity>
    </application>

</manifest>